<footer>
  <div class="container">
    <div class="row biography">
      <div class="col-sm-4">
        <h2>who are we</h2>
        <p>{{ site.biography }}</p>
      </div>
      <div class="col-sm-4">
        <h2>what is this</h2>
        <p>{{ site.description }}</p>
      </div>
      <div class="col-sm-4">
        <h2>Quick links</h2>
          <div>
            <a href="/">Home</a>
          </div>
          <div>
            <a href="https://github.com/harsh183/125-weekly-projects">Site repo</a>
          </div>
      </div>
    </div>
    {% if site.colophon %}
    <div class="row copyright">
      <center>{{ site.colophon }}</center>
    </div>
    {% endif %}
  </div>
</footer>
